# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\old G\project-opay-new\2021newstar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
